# Step 1: Import Libraries

In [1]:
import pandas as pd
import numpy as np

# Step 2: Load Dataset

In [2]:
df = pd.read_csv('global_startup_success_dataset.csv')

In [3]:
df.head()

,Startup Name,Founded Year,Country,Industry,Funding Stage,Total Funding ($M),Number of Employees,Annual Revenue ($M),Valuation ($B),Success Score,Acquired?,IPO?,Customer Base (Millions),Tech Stack,Social Media Followers
0,Startup_1,2009,Canada,Healthcare,Series A,269,3047,104,46.11,5,No,No,43,"Java, Spring",4158814
1,Startup_2,2004,UK,Healthcare,IPO,40,630,431,33.04,1,No,Yes,64,"Node.js, React",4063014
2,Startup_3,2018,USA,Healthcare,Seed,399,2475,375,15.79,8,No,No,74,"PHP, Laravel",3449855
3,Startup_4,2014,France,Tech,Seed,404,1011,907,17.12,7,Yes,Yes,26,"Python, AI",630421
4,Startup_5,2006,Japan,Energy,Series C,419,3917,280,4.39,6,Yes,Yes,30,"Node.js, React",365956

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Startup Name              5000 non-null   object
 1   Founded Year              5000 non-null   int64
 2   Country                   5000 non-null   object
 3   Industry                  5000 non-null   object
 4   Funding Stage             5000 non-null   object
 5   Total Funding ($M)        5000 non-null   int64
 6   Number of Employees       5000 non-null   int64
 7   Annual Revenue ($M)       5000 non-null   int64
 8   Valuation ($B)            5000 non-null   float64
 9   Success Score             5000 non-null   int64
 10  Acquired?                 5000 non-null   object
 11  IPO?                      5000 non-null   object
 12  Customer Base (Millions)  5000 non-null   int64
 13  Tech Stack                5000 non-null   object
 14  Social Media Followers    5000 non-null   int64
dtypes: float64(1), int64(7), object(7)
memory usage: 586.1+ KB

In [5]:
df.isnull().sum()

Startup Name                0
Founded Year                0
Country                     0
Industry                    0
Funding Stage               0
Total Funding ($M)          0
Number of Employees         0
Annual Revenue ($M)         0
Valuation ($B)              0
Success Score               0
Acquired?                   0
IPO?                        0
Customer Base (Millions)    0
Tech Stack                  0
Social Media Followers      0
dtype: int64